---
layout: fragments
permalink: /fragments/
title: "Fragments of Time"
author_profile: true
---
{% if site.search == true %}
   <div class="search-content">
     {% include_cached search/search_form.html %}
   </div>
{% endif %}
	
<script src="https://utteranc.es/client.js"
        repo="TheoTheroneDT/Fragments"
        issue-term="url"
        label="💬"
        theme="boxy-light"
        crossorigin="anonymous"
        async>
</script>


<!-- Theme
: "github-light"
: "github-dark"
: "preferred-color-scheme"
: "github-dark-orange"
: "icy-dark"
: "dark-blue"
: "photon-dark"
: "boxy-light"
-->


<!-- js 파일 override 예시! -->
<style>
 .utterances {
     max-width: 100% !important;
}
 .utterances-frame {
	color-scheme: light !important;
}
	
</style>

